apiVersion: v1
kind: ServiceAccount
metadata:
  name: ci-deployer
  namespace: techcommerce
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: deployer-role
  namespace: techcommerce
rules:
  - apiGroups: ["", "apps", "extensions", "autoscaling"]
    resources:
      - deployments
      - services
      - configmaps
      - secrets
      - horizontalpodautoscalers
      - pods
      - pods/log
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: deployer-binding
  namespace: techcommerce
subjects:
  - kind: ServiceAccount
    name: ci-deployer
    namespace: techcommerce
roleRef:
  kind: Role
  name: deployer-role
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-k8s
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - pods
      - endpoints
      - services
    verbs: ["get", "list", "watch"]
  - apiGroups: ["extensions", "networking.k8s.io"]
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-k8s-binding
roleRef:
  kind: ClusterRole
  name: prometheus-k8s
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: monitoring
